@tailwind base;
@tailwind utilities;
@tailwind components;

.color-greenBG {
  background-color: #79b93c;
}
.cl-logoImage {
  height: 8rem;
}

.cl-logoBox {
  justify-content: center;
}

.cl-formButtonPrimary {
  background-color: #246d19;
}

.cl-internal-b3fm6y {
  background-color: #246d19;
  visibility: hidden;
}

.shadowSectionShop{
  box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.25) inset;
}

.shadowImageHome{
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25) inset;
}
